<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <!-- <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=face" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=pending_actions" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=pending_actions" /> -->
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <div class="container section-padding">
        <div class="row justify-content-center">
          <div class="col-10">
            <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item me-4" role="presentation">
                <button class="nav-link active" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info"
                  type="button" role="tab" aria-controls="pills-info" aria-selected="true">
                  <span class="material-symbols-outlined me-1 align-bottom">face</span>個人資料</button>
              </li>
              <li class="nav-item me-4" role="presentation">
                <button class="nav-link" id="pills-record-tab" data-bs-toggle="pill" data-bs-target="#pills-record"
                  type="button" role="tab" aria-controls="pills-record" aria-selected="false">
                  <span class="material-symbols-outlined me-1 align-bottom">pending_actions</span>
                  預約紀錄</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-plan-tab" data-bs-toggle="pill" data-bs-target="#pills-plan"
                  type="button" role="tab" aria-controls="pills-plan" aria-selected="false">
                  <span class="material-symbols-outlined me-1 align-bottom">list_alt</span>
                  職旅計劃</button>
              </li>
            </ul>
            <div class="tab-content  border pills-content p-5" id="pills-tab">
              <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">

                <div class="row mb-5">
                  <div class="col-3  p-0">個人資料</div>
                  <div class="col-9  p-0">
                    <div class="d-flex align-items-end mb-4">
                      <img src="../assets/images/avatar.png" alt="user" class="rounded-circle border pills-image  me-3">
                      <button type="button" class="btn btn-outline-secondary border px-1 py-2 rounded text-dark"
                        data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                        <span class="material-symbols-outlined  align-bottom">
                          upload
                        </span>
                        更新頭貼
                      </button>
                    </div>
                    <div class="form-floating mb-4">
                      <input type="text" class="form-control" id="name" placeholder="" value="Mokumaru">
                      <label for="name">姓名</label>
                    </div>

                    <div class="mb-4">
                      <label class="form-label d-block mb-2">性別</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
                        <label class="form-check-label" for="female">女性</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">男性</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">不願透露</label>
                      </div>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="date" class="form-control" id="birthday" placeholder="請選擇日期" value="2000-01-10">
                      <label for="birthday">生日</label>
                    </div>

                    <div class="mb-4">
                      <label for="password" class="form-label mb-2">密碼</label>
                      <div>
                        <button type="button"
                          class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 text-dark"
                          aria-pressed="false" autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal"
                          data-bs-whatever="@mdo">
                          修改密碼
                          <span class="material-symbols-outlined">chevron_right</span>
                        </button>
                      </div>
                    </div>

                    <div class="modal fade password-modal " id="exampleModal" tabindex="-1"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">更新密碼</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="mb-3 form-floating">
                                <label for="n-pass">新密碼</label>
                                <input type="text" class="form-control" id="n-pass">
                              </div>
                              <div class="mb-3 form-floating">
                                <label for="n-pass2">再次密碼</label>
                                <input type="text" class="form-control" id="n-pass2">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button"
                              class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 bg-dark text-light"
                              aria-pressed="false" autocomplete="off" data-bs-toggle="modal"
                              data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                              更新密碼
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="email" class="form-control" id="email" placeholder="請輸入信箱" value="mokumaru@mail.com">
                      <label for="email">信箱</label>
                      <div id="emailHelp" class="form-text">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</div>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="tel" class="form-control" id="tel" placeholder="請輸入電話" value="09-1234-5678">
                      <label for="tel">聯絡電話</label>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="text" class="form-control" id="address" placeholder="請輸入地址" value="高雄市三民區九如一路 87 號">
                      <label for="address">通訊地址</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <button type="button"
                      class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 me-4 text-dark"
                      data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                      重新填寫
                      <span class="material-symbols-outlined">chevron_right</span>
                    </button>
                    <button type="button"
                      class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 bg-dark text-light"
                      data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                      儲存更新
                      <span class="material-symbols-outlined">chevron_right</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="pills-record" role="tabpanel" aria-labelledby="pills-record-tab">

                <div class="row mb-4">
                  <div class="col p-0">預約紀錄</div>
                </div>

                <div class="row mb-5">
                  <div class="col border text-center py-4 record-card me-4">
                    <p>3</p>
                    <p>已完成諮詢</p>
                  </div>
                  <div class="col border text-center py-4 record-card me-4">
                    <p>2025/10/10</p>
                    <p>即將到來</p>
                  </div>
                  <div class="col border text-center py-4 record-card">
                    <p>3/6</p>
                    <p>使用方案進度</p>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col d-flex justify-content-between">
                    <div class="d-flex">
                      <button type="button"
                        class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 bg-dark text-light me-2"
                        aria-pressed="false" autocomplete="off">
                        全部預約
                      </button>
                      <button type="button"
                        class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 text-dark me-2"
                        aria-pressed="false" autocomplete="off">
                        已完成
                      </button>
                      <button type="button"
                        class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 text-dark me-2"
                        aria-pressed="false" autocomplete="off">
                        已取消
                      </button>
                    </div>

                    <div class="btn-group">
                      <button type="button"
                        class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 text-darkdropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        排序
                        <span class="material-symbols-outlined">filter_list</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">新到舊</a></li>
                        <li><a class="dropdown-item" href="#">舊到新</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">諮詢方案</th>
                          <th scope="col">預約日期</th>
                          <th scope="col">諮詢時長</th>
                          <th scope="col">諮詢方式</th>
                          <th scope="col">上課狀態</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">職涯定位-職涯探索包 | 6/6堂</th>
                          <td>2025/11/11</td>
                          <td>60分鐘</td>
                          <td>視訊</td>
                          <td>等待上課</td>
                        </tr>
                        <tr>
                          <th scope="row">職涯定位-職涯探索包 | 5/6堂</th>
                          <td>2025/10/10</td>
                          <td>60分鐘</td>
                          <td>視訊</td>
                          <td>等待上課</td>
                        </tr>
                        <tr>
                          <th scope="row">職涯定位-職涯探索包 | 4/6堂</th>
                          <td>2025/09/09</td>
                          <td>60分鐘</td>
                          <td>視訊</td>
                          <td>已完成</td>
                        </tr>
                        <tr>
                          <th scope="row">職涯定位-職涯探索包 | 3/6堂</th>
                          <td>2025/08/08</td>
                          <td>60分鐘</td>
                          <td>面對面</td>
                          <td>已完成</td>
                        </tr>
                        <tr>
                          <th scope="row">職涯定位-職涯探索包 | 2/6堂</th>
                          <td>2025/07/07</td>
                          <td>60分鐘</td>
                          <td>面對面</td>
                          <td>已完成</td>
                        </tr>
                        <tr>
                          <th scope="row">職涯定位-職涯探索包 | 1/6堂</th>
                          <td>2025/06/06</td>
                          <td>90分鐘</td>
                          <td>面對面</td>
                          <td>已完成</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="pills-plan" role="tabpanel" aria-labelledby="pills-plan-tab">
                <div class="row mb-5 border-bottom">
                  <div class="col-3  p-0">
                    <div class="mb-2">職旅計劃概況</div>
                    <div>欄位皆為<span class="text-danger">必填</span></div>
                  </div>
                  <div class="col-9  p-0">
                    <div class="mb-4">
                      <label class="form-label d-block mb-2">目前職業狀態</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
                        <label class="form-check-label" for="female">全職上班族</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">兼職工作者</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">自由工作者/接案者</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">數位遊牧者</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">創業者/企業主</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">待業中</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">其他</label>
                      </div>
                    </div>

                    <div class="mb-4">
                      <select class="form-select form-select-lg" name="" id="">
                        <option selected>工作產業</option>
                        <option value="">科技</option>
                        <option value="">媒體</option>
                        <option value="">教育</option>
                        <option value="">金融</option>
                        <option value="">醫療健康</option>
                        <option value="">零售製造</option>
                        <option value="">服務業</option>
                        <option value="">藝術創意</option>
                        <option value="">非營利組織</option>
                      </select>
                    </div>

                    <div class="mb-4">
                      <select class="form-select form-select-lg" name="" id="">
                        <option selected>工作年資</option>
                        <option value="">1 年以下</option>
                        <option value="">1-3 年</option>
                        <option value="">3-5 年</option>
                        <option value="">5-10 年</option>
                        <option value="">10 年以上</option>
                      </select>
                    </div>

                    <div class="mb-4">
                      <label class="form-label d-block mb-2">月收入區間</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
                        <label class="form-check-label" for="female">3 萬以下</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">3-5 萬</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">5-8 萬</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">8-12 萬</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">12-20 萬</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">20 萬以上</label>
                      </div>

                    </div>

                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education3" rows="5" style="height:160px;"></textarea>
                      <label for="education3" class="form-label">職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）</label>
                    </div>

                    <div class="mb-4">
                      <input type="text" class="form-control py-3" id="address" placeholder="作品案例展示">
                    </div>

                    <div class="mb-3">
                      <label for="" class="form-label">附件檔案</label>
                      <button type="button"
                      class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 me-4 text-dark"
                      data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                      <span class="material-symbols-outlined">upload</span>
                      上傳檔案
                    </button>
                    </div>


                  </div>
                </div>

                <div class="row mb-5 border-bottom">
                  <div class="col-3  p-0">
                    <div class="mb-2">職涯規劃</div>
                    <div>欄位皆為<span class="text-danger">必填</span></div>
                  </div>
                  <div class="col-9  p-0">
                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education3" rows="5" style="height:160px;"></textarea>
                      <label for="education3" class="form-label">1 年短期職涯目標（最多 300 字）</label>
                    </div>
                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education4" rows="5" style="height:160px;"></textarea>
                      <label for="education4" class="form-label">1-3 年中長期職涯願景（最多 300 字）</label>
                    </div>
                    <div class="mb-4">
                      <label class="form-label d-block mb-2">理想工作模式</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
                        <label class="form-check-label" for="female">固定辦公室工作</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">混合式工作(辦公室+遠端)</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">完全遠端工作(固定地點)</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">數位遊牧(邊工作邊旅行)</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">其他(請說明)</label>
                      </div>
                    </div>

                    <div class="mb-4">
                      <input type="text" class="form-control py-3" id="address" placeholder="目標薪資/收入">
                    </div>

                    <div class="mb-4">
                      <label class="form-label d-block mb-2">目前面臨的職涯挑戰</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">方向不明確</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">技能需要提升</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">收入不穩定</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">客戶開發困難</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">工作生活失衡</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">缺乏人脈資源</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">其他(請說明)</label>
                      </div>
                    </div>

                    <div class="mb-4">
                      <label class="form-label d-block mb-2">期望獲得的協助與資源</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">職涯方向指導</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">專業技能提升建議</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">個人品牌建立</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">接案策略與定價</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">客戶開發方法</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">財務規劃</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">時間管理系統</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">工作生活平衡</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">其他(請說明)</label>
                      </div>
                    </div>

                    <div class="mb-4">
                      <label class="form-label d-block mb-2">感興趣的服務方案</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">探索定位</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">客製化方案</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">實戰指導</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-5 border-bottom">
                  <div class="col-3  p-0">
                    <div class="mb-2">專業技能區塊</div>
                    <div>欄位皆為選填</div>
                  </div>
                  <div class="col-9  p-0">
                    <div class="mb-4">
                      <label class="form-label d-block mb-2">核心專業領域</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">設計/創意</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">科技/程式開發</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">行銷/公關</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">內容創作/寫作</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">顧問/諮詢</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">商業/管理</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">財務/會計</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">教育/培訓</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">法律/合規</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">健康/醫療</label>
                      </div>
                    </div>

                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education3" rows="5" style="height:160px;"></textarea>
                      <label for="education3" class="form-label">專業背景和核心競爭力（最多300字）</label>
                    </div>

                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education3" rows="5" style="height:160px;"></textarea>
                      <label for="education3" class="form-label">專業技能（最多300字）</label>
                    </div>

                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education3" rows="5" style="height:160px;"></textarea>
                      <label for="education3" class="form-label">語文能力（最多300字）</label>
                    </div>

                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education3" rows="5" style="height:160px;"></textarea>
                      <label for="education3" class="form-label">資格證照（最多300字）</label>
                    </div>

                  </div>

                </div>

                <div class="row mb-5">
                  <div class="col-3  p-0">
                    <div class="mb-2">教育背景</div>
                    <div>欄位皆為選填</div>
                  </div>
                  <div class="col-9  p-0">
                    <div class="form-floating mb-4 ">
                      <textarea class="form-control" name="" id="education" rows="5" style="height:160px;"></textarea>
                      <label for="education" class="form-label">學歷背景 (最多500)</label>
                    </div>

                    <div class="form-floating">
                      <textarea class="form-control" name="" id="education2" rows="5" style="height:160px;"></textarea>
                      <label for="education2" class="form-label">專業培訓與工作坊（最多500字）</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <button type="button"
                      class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 me-4 text-dark"
                      data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                      匯出 PDF
                      <span class="material-symbols-outlined">chevron_right</span>
                    </button>
                    <button type="button"
                      class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-1 bg-dark text-light"
                      data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                      儲存更新
                      <span class="material-symbols-outlined">chevron_right</span>
                    </button>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>